aiodns
aiofiles
aiohttp
aiosignal
apscheduler
async-timeout
attrs
bs4
bing-image-downloader
bleach
brotli
cachetools
certifi
cffi
chardet
charset-normalizer
configparser
coverage
cssselect
cloudscraper
deprecated
deprecation
dnspython
dotmap
emoji
eyed3
faker
feedparser
filetype
fonttools
frozenlist
future
futures
ffmpeg
geographiclib
geopy
glitch-this
google
goslate
gpytranslate
gtts
h11
h2
hachoir
heroku3
hpack
hstspreload
html-telegraph-poster
html2text
httpcore
httpx
hyperframe
idna
img2pdf
instantmusic
jikanpy
jmespath
joblib
lxml --only-binary :all:
markdown2
multidict
nltk
numpy
opencv-python-headless
packaging
parsel
pikepdf
pillow
pip
pretty-errors
psutil
psycopg2-binary
pyaes
pyasn1
pybase64
pycares
pycparser
pydictionary
pykeyboard
pylyrics
pymongo
pynewtonmath
pyparsing
pyrate-limiter
pyrogram
pysmartdl
pysocks
python-arq
python-dateutil
python-telegram-bot
pytube
pytz
pyyaml
redis
regex
requests
requests-toolbelt
rfc3986
rsa
search-engine-parser
secureme
setuptools
sgmllib3k
simplejson
six
sniffio
soupsieve
spamwatch
speedtest-cli
spongemock
sqlalchemy
telegraph
telethon
tgcrypto
toml
tornado
tqdm
tracemoepy
tswift
typing-extensions
tzlocal
urllib3
w3lib
webencodings
wheel
wrapt
yarl
youtube-dl
ytmusicapi
yt_dlp
